<div class="flex justify-content-center align-items-center flex-wrap flex-column">
    <div class="flex justify-content-center flex-column gap-5 w-6 m-5">
        <label for=""><strong>El nombre del gerente</strong></label>
        <p-iconField iconPosition="left" class="w-full">
            <p-inputIcon styleClass="pi pi-caret-down"/>
            <input type="text" pInputText class="w-full" placeholder="Nombre"/>
        </p-iconField>
    </div>
    <div class="flex justify-content-center flex-column gap-5 w-6 m-5">
        <label for=""><strong>Correo electrónico del gerente</strong></label>
        <p-iconField iconPosition="left" class="w-full">
            <p-inputIcon styleClass="pi pi-inbox"/>
            <input type="text" pInputText  class="w-full" placeholder="Email"/>
        </p-iconField>
    </div>
</div>